body {
    font-family: "Gill Sans", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

.box {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: maroon;
    display: flex; /* parent, equal height */
    flex-direction: column;
  
}

.heading1 {
    color: white;
    text-align: center;
    background-color: black;
    background-size: cover;
    position: relative;
    /* flex: 1; child element, for equal width; */
    border: none;
    padding: 20px;

}

.mainbox {
    margin: 0 auto;
    background-color: rgb(251, 227, 227);
    width: 80%;
    padding-bottom: 1px;
    /* fills in leftover space */
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: maroon;
    font-size: 1.8rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 400;

}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: auto;
    line-height: 35px;
    font-size: 1.4rem;

}

.left {
    background-color: antiquewhite;
    text-align: right;
    width: 50%;
    float: left;
    line-height: 30px;
    font-size: 1.3rem;
    margin-bottom: auto;

}

.right {
    background-color: antiquewhite;
    text-align: left;
    width: 50%;
    float: right;
    line-height: 30px;
    font-size: 1.3rem;
    margin-bottom: auto;
}

.spec{
    display: flex;
}

.subtitle {
    text-align: center;
    /* border: 1px solid blueviolet; */
}

.srfr {
    text-align: center;
    font-style: italic;
    color: maroon;
    font-size: larger;
}

.kids {
    margin-bottom: 6rem;
}

.dots {
    font-weight: 700;
    font-size: x-large;
    color: maroon;
    text-align: center;
}

.spicey {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: maroon;
}

.home-page {
    color: maroon;
    text-decoration: underline;
}

.maroon_text {
    color: maroon;
}

footer {
    /* equal height of children; by default, items stack side-by-side in a row */
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    background-color: black;

}

.locn {
    width: 50%;
    text-align: center;
    color: white;

}

.hr {
    width: 50%;
    text-align: center;
    color: white;
}

a[href^="tel:"] {
    color: white;
    text-decoration: underline;
}
