*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

body {
  text-align: center !important;
  background-color: rgb(255, 245, 245) !important;
}

body > header {
  color: rgb(255, 245, 245);
  background-color: rgb(18, 18, 18);
  padding: 0.5rem;
  box-shadow: 0 0 10px #9d9d9d;
}

#Appetizers header, #Lunch-Specials header, #Entrees header {
  color: maroon;
}

header #title {
  padding-top: 1.5rem;
}

h2 {
  font-size: 35px !important;
  font-weight: 600 !important;
}

#Appetizers, #Lunch-Specials, #Entrees {
  font-size: 18px;
  padding: 1rem;
  margin-top: 1rem;
}

#tulips header, #lotus header, #sunflowers header {
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #9d9d9d;
}

header p {
  font-family: Trebuchet MS, sans-serif;
}

#title h1 {
  font-size: 80px !important;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li:hover {
  background-color: rgb(236, 131, 131) !important;
}

li {
  padding: 0.5rem;
  margin: 0 10px;
  border-radius: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
}

img {
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  filter: grayscale(10%);
}

/* display once img is clicked */
.clicked_img {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.9);
  z-index: 1;
  top: 0;
  padding-top: 11rem;
  display: none;
}

.clicked_img img {
  height: auto;
  max-height: 30rem;
  max-width: 100%;
}

#arrows {
  color: white;
  font-size: 50px;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 50px;
  margin-right: 2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.closeButton:hover {
  filter: grayscale(100%);
}

.home-page {
  color: maroon;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
}

footer {
    background-color: rgb(18, 18, 18);
    text-align: center;
    color: white;
    padding: 2.5rem;
    font-size: 1rem;
}

@media (max-width: 750px) {
  ul {
    margin-right: 2rem;
  }
}