body {
    font-family: "Gill Sans";
    box-sizing: border-box;
    margin: 0px;
    padding: 0;

}

.box {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 50px;
    scroll-snap-align: start;
    position: relative;
}

.slide1 {
    align-items: start;
    justify-content: space-between;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(162, 49, 0, 0.73)), url(https://img.pikbest.com/backgrounds/20190417/chinese-style-ancient-culture-background_1806579.jpg!w10240);
    background-size: cover;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top 120px;

}

.hl {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 15px;
}

.message {
    position: absolute;
    left: 10%; 
    top: 68%;
    transform: translateY(-50%);
    font-size: 30px;
    text-align: left;
}

/* formatting */
.dropdown {
    left: 9.5%; 
    top: 80%;
    transform: translateY(-50%);
    position: absolute;
    display: inline-block;
}

/* cited - https://www.w3schools.com/ */
.dropbtn {
    width: 9rem;
    cursor: pointer;
    background-color: darkorange;
    color: white;
    /* 1rem unit = 16px */
    height: 4rem;
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: "Gill Sans", sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f0531f;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: purple;
}

.slide1 h2 {
    padding: 40px;
    margin-top: 0%;
}

.cr {

    font-size: 16px;
}

.slide2 {
    align-items: start;
    background: linear-gradient(454deg, #ffffff, #ffffff);
}

.slide2 img {
    position: absolute;
    top: 2in;
    right: .5in;
    width: 650px;

}

.block {
    position: absolute;
    text-align: center;
    color: black;
    /* border: 10px solid wheat; */
    top: 2in;
    left: 3in;
}

p {
    font-size: 20px;
}

.copy {
    color: black;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

a[href^="tel:"] {
    color: orange;
    text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
    /* when a screen is at ___px or below, will follow code below:   */
    .slide2 img {
        top: 5in;
        right: .01in;
        max-width: 100%;
        margin: auto;
    }

    .block {
        top: 50%;
        left: 42%;
        margin-top: -50px;
        /* this is half the height of div*/
        margin-left: -100px;
        top: 1in;
        
    }
}

@media (max-width: 556px) {
    .hl {
        display: none;
    }

    .slide1 h2 {
        width: 100%;
        text-align: left;
        min-width: 19rem;

    }
}
